@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap");
.button:hover {
  cursor: pointer;
  background-color: #D5966C;
  transition: background-color 0.2s ease;
}
.button:hover a {
  background-color: #D5966C;
  transition: background-color 0.2s ease;
}
.button:hover img {
  background-color: #151515;
  transition: background-color 0.2s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  color: #FFFFFF;
  margin-left: 16px;
  width: -moz-fit-content;
  width: fit-content;
  transition: background-color 0.2s ease;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 3.64px;
  padding-left: 32px;
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .button {
    margin: 0;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  .button {
    margin: 0;
  }
}
.button img {
  background-color: #D5966C;
  padding: 24px;
  transition: background-color 0.2s ease;
}

@media (max-width: 1023px) and (min-width: 768px) {
  header.header {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  header.header {
    display: flex;
    flex-direction: row;
    height: 800px;
  }
  header.header::before {
    content: "";
    position: relative;
    width: 31.25%;
    height: 100%;
    background: #151515;
    z-index: 1;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  header.header {
    display: flex;
    flex-direction: row;
    height: 85vh;
  }
  header.header::before {
    content: "";
    position: relative;
    width: 31.25%;
    height: 100%;
    background: #151515;
    z-index: 1;
  }
}
header.header > picture {
  width: 100%;
}
header.header > picture img {
  width: 100%;
  height: auto;
}
@media (max-width: 1023px) and (min-width: 768px) {
  header.header > picture img {
    position: absolute;
    width: 57%;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  header.header > picture img {
    height: 100%;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  header.header > picture img {
    height: 100%;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  header.header > picture {
    width: 37.5%;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  header.header > picture {
    width: 37.5%;
  }
}
header.header div.header_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  z-index: 2;
  background: transparent;
}
@media (max-width: 1023px) and (min-width: 768px) {
  header.header div.header_text {
    width: 44%;
    height: auto;
    position: absolute;
    margin-left: calc(389px + (100vw - 768px) * 0.65);
    margin-top: calc(145px + (100vw - 768px) * 0.5);
    gap: 48px;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  header.header div.header_text {
    width: 350px;
    height: auto;
    position: absolute;
    margin-left: calc(668px + (100vw - 1024px) * 0.62);
    margin-top: calc(200px + (100vw - 1024px) * 0.1);
  }
  header.header div.header_text h1.title {
    position: absolute;
    color: #FFFFFF;
    margin-left: calc(-550px + (100vw - 1024px) * -0.4);
    margin-top: calc(40px + (100vw - 1024px) * -0.19);
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  header.header div.header_text {
    width: clamp(350px, 27vw + 2vh, 450px);
    height: auto;
    position: absolute;
    margin-left: calc(925px + (100vw - 1440px) * 0.65);
    margin-top: calc(190px + (100vw - 1440px) * 0.5);
  }
  header.header div.header_text h1.title {
    position: absolute;
    color: #FFFFFF;
    margin-left: calc(-760px + (100vw - 1440px) * -0.45);
    margin-top: calc(-45px + (100vw - 1440px) * -0.25);
  }
}

main.main {
  padding: 0px 16px;
  margin-top: 120px;
}
@media (max-width: 1023px) and (min-width: 768px) {
  main.main {
    margin-top: calc(820px + (100vw - 768px) * 1);
    margin-left: 39px;
    margin-right: 40px;
    margin-bottom: 120px;
    display: grid;
    grid-template-areas: "main_info gallery_image gallery_image" "art_image art_image exposition" "art_image art_image greating";
    padding: 0;
    row-gap: 11px;
    -moz-column-gap: 11px;
         column-gap: 11px;
    height: -moz-fit-content;
    height: fit-content;
    grid-template-rows: 31.413% 24.581% 31.099%;
    grid-template-columns: 42.24% auto 40.64%;
  }
  main.main .gallery {
    grid-area: gallery_image;
    width: 100%;
    height: 100%;
    margin-bottom: 11px;
  }
  main.main div.main_info {
    grid-area: main_info;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 68px;
  }
  main.main img.art {
    grid-area: art_image;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  main.main .exposition {
    grid-area: exposition;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  main.main picture {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  main.main {
    margin-top: 180px;
    display: grid;
    grid-template-areas: "main_info gallery_image gallery_image" "art_image art_image exposition" "art_image art_image greating";
    padding: 0;
    row-gap: clamp(21.55px, 2.1vw, 30px);
    -moz-column-gap: clamp(21.55px, 2.1vw, 30px);
         column-gap: clamp(21.55px, 2.1vw, 30px);
    padding: 0px calc(117px + (100vw - 1024px) * 0.116) 0px calc(116.62px + (100vw - 1024px) * 0.1142);
    grid-template-rows: 34.783% 27.22% 32.78%;
    grid-template-columns: 40.82% auto 40.82%;
    max-height: 1150px;
    margin-bottom: 180px;
  }
  main.main .gallery {
    grid-area: gallery_image;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  main.main div.main_info {
    grid-area: main_info;
    height: 100%;
    padding: calc(42.6px + (100vw - 1024px) * 0.042) calc(67.5px + (100vw - 1024px) * 0.0663) calc(42.6px + (100vw - 1024px) * 0.042) 0px;
  }
  main.main img.art {
    grid-area: art_image;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  main.main .exposition {
    grid-area: exposition;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  main.main picture {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  main.main {
    margin-top: 180px;
    display: grid;
    grid-template-areas: "main_info gallery_image gallery_image" "art_image art_image exposition" "art_image art_image greating";
    padding: 0;
    row-gap: 30px;
    -moz-column-gap: 30px;
         column-gap: 30px;
    padding: 0 165px;
    grid-template-rows: 34.783% 27.22% 32.78%;
    grid-template-columns: 40.82% auto 40.82%;
    margin-bottom: 180px;
  }
  main.main .gallery {
    grid-area: gallery_image;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  main.main div.main_info {
    grid-area: main_info;
    height: 100%;
    padding: calc(60px + (100vw - 1024px) * 0.042) calc(90px + (100vw - 1024px) * 0.0663) calc(60px + (100vw - 1024px) * 0.042) 0px;
    max-width: clamp(432px, 30.001vw, 768px);
  }
  main.main img.art {
    grid-area: art_image;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  main.main .exposition {
    grid-area: exposition;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  main.main picture {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
main.main img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
main.main h2 {
  font-size: 44px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 9px 0px 21px 0px;
  padding: 0;
}
@media (max-width: 479px) and (min-width: 375px) {
  main.main h2 {
    font-size: 50px;
    line-height: 45px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  main.main h2 {
    max-width: 300px;
    font-size: clamp(50px, 5vw + 1vh, 80px);
    line-height: clamp(45px, 5vw + 1vh, 75px);
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  main.main h2 {
    font-size: clamp(42.6px, 4.96vw, 60px);
    line-height: clamp(42.6px, 4.96vw, 60px);
    margin-top: 0;
    margin-bottom: 32px;
    max-width: 350px;
  }
  main.main h2 br.jump {
    display: none;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  main.main h2 {
    font-size: clamp(60px, 4.166vw, 107px);
    line-height: clamp(60px, 4.166vw, 107px);
    margin-top: 0;
    margin-bottom: 32px;
  }
  main.main h2 br.jump {
    display: none;
  }
}
main.main > .main_info > p {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  letter-spacing: 0px;
  margin-bottom: 32px;
  font-weight: 300;
}
@media (max-width: 479px) and (min-width: 375px) {
  main.main > .main_info > p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  main.main > .main_info > p {
    font-size: clamp(17.9px, 2.33vw, 30px);
    line-height: clamp(28px, 3.65vw, 40px);
    margin-bottom: 0px;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  main.main > .main_info > p {
    font-size: clamp(15.64px, 1.65vw, 22px);
    line-height: clamp(25.64px, 1.65vw, 32px);
    max-width: 350px;
    font-weight: 300;
    margin: 0px;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  main.main > .main_info > p {
    font-size: clamp(22px, 1.527vw, 39.11px);
    line-height: clamp(32px, 1.527vw, 49.11px);
    font-weight: 300;
    margin: 0px;
  }
}
main.main aside.greating {
  background-color: #151515;
  padding: 48px 24px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 120px;
}
main.main aside.greating h2 {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}
main.main aside.greating p {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
@media (max-width: 1023px) and (min-width: 768px) {
  main.main aside.greating {
    grid-area: greating;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  main.main aside.greating h2 {
    font-size: clamp(50px, 6.51vw, 60px);
    line-height: clamp(45px, 6.51vw, 60px);
    align-self: flex-start;
  }
  main.main aside.greating p {
    font-size: clamp(18px, 2.343vw, 22px);
    line-height: 28px;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  main.main aside.greating {
    grid-area: greating;
    padding: clamp(38px, 3.71vw, 65px) clamp(34.1px, 3.33vw, 48px);
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main.main aside.greating h2 {
    font-size: clamp(42.6px, 4.96vw, 60px);
    line-height: clamp(42.6px, 4.96vw, 60px);
    max-width: 445px;
  }
  main.main aside.greating p {
    font-size: clamp(15.64px, 1.65vw, 22px);
    line-height: clamp(25.64px, 1.65vw, 32px);
    max-width: 445px;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  main.main aside.greating {
    grid-area: greating;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px clamp(48px, 3.33vw, 83px);
  }
  main.main aside.greating h2 {
    font-size: clamp(60px, 4.166vw, 107px);
    line-height: clamp(60px, 4.166vw, 107px);
    align-self: flex-start;
  }
  main.main aside.greating p {
    font-size: clamp(22px, 1.527vw, 39.11px);
    line-height: clamp(32px, 1.527vw, 49.11px);
  }
}

html * {
  font-family: "Outfit", sans-serif;
  background-color: #FFFFFF;
}

body {
  overflow-x: hidden;
}

.title {
  font-family: "Big Shoulders", sans-serif;
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 16px;
  color: #151515;
  background: transparent;
}
@media (max-width: 1023px) and (min-width: 768px) {
  .title {
    font-size: 70px;
    line-height: 65px;
    padding: 0;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .title {
    font-size: clamp(70px, 5vw + 2vh, 96px);
    line-height: clamp(62px, 5vw + 2vh, 88px);
    padding: 0;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  .title {
    font-size: clamp(96px, 5vw + 2vh, 150px);
    line-height: clamp(88px, 5vw + 2vh, 140px);
    padding: 0;
  }
}

.paragraph {
  font-size: 16px;
  line-height: 28px;
  color: #444444;
  padding: 0 16px;
  font-weight: 400;
  background: transparent;
}
@media (max-width: 479px) and (min-width: 375px) {
  .paragraph {
    font-size: 18px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .paragraph {
    font-size: 18px;
    padding: 0;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .paragraph {
    font-size: 22px;
    line-height: 32px;
    padding: 0;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  .paragraph {
    font-size: clamp(22px, 1vw + 1vh, 38px);
    line-height: clamp(32px, 1vw + 2vh, 46px);
    padding: 0;
  }
}/*# sourceMappingURL=app.css.map */