@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap");
.button:hover {
  cursor: pointer;
  background-color: #D5966C;
  transition: background-color 0.2s ease;
}
.button:hover a {
  background-color: #D5966C;
  transition: background-color 0.2s ease;
}
.button:hover img {
  background-color: #151515;
  transition: background-color 0.2s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  color: #FFFFFF;
  margin-left: 16px;
  width: -moz-fit-content;
  width: fit-content;
  transition: background-color 0.2s ease;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 3.64px;
  padding-left: 32px;
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .button {
    margin: 0;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  .button {
    margin: 0;
  }
}
.button img {
  background-color: #D5966C;
  padding: 24px;
  transition: background-color 0.2s ease;
}

@media (max-width: 1023px) and (min-width: 768px) {
  header.header {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  header.header {
    display: flex;
    flex-direction: row;
    height: 800px;
  }
  header.header::before {
    content: "";
    position: relative;
    width: 31.25%;
    height: 100%;
    background: #151515;
    z-index: 1;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  header.header {
    display: flex;
    flex-direction: row;
    height: 85vh;
  }
  header.header::before {
    content: "";
    position: relative;
    width: 31.25%;
    height: 100%;
    background: #151515;
    z-index: 1;
  }
}
header.header > picture {
  width: 100%;
}
header.header > picture img {
  width: 100%;
  height: auto;
}
@media (max-width: 1023px) and (min-width: 768px) {
  header.header > picture img {
    position: absolute;
    width: 57%;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  header.header > picture img {
    height: 100%;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  header.header > picture img {
    height: 100%;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  header.header > picture {
    width: 37.5%;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  header.header > picture {
    width: 37.5%;
  }
}
header.header div.header_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  z-index: 2;
  background: transparent;
}
@media (max-width: 1023px) and (min-width: 768px) {
  header.header div.header_text {
    width: 44%;
    height: auto;
    position: absolute;
    margin-left: calc(389px + (100vw - 768px) * 0.65);
    margin-top: calc(145px + (100vw - 768px) * 0.5);
    gap: 48px;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  header.header div.header_text {
    width: 350px;
    height: auto;
    position: absolute;
    margin-left: calc(640px + (100vw - 1024px) * 0.68);
    margin-top: calc(190px + (100vw - 1024px) * 0.1);
  }
  header.header div.header_text h1.title {
    position: absolute;
    color: #FFFFFF;
    margin-left: calc(-590px + (100vw - 1024px) * -0.35);
    margin-top: calc(0px + (100vh - 900px) * -0.2);
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  header.header div.header_text {
    width: clamp(350px, 27vw + 2vh, 450px);
    height: auto;
    position: absolute;
    margin-left: calc(925px + (100vw - 1440px) * 0.65);
    margin-top: calc(190px + (100vh - 900px) * 0.5);
  }
  header.header div.header_text h1.title {
    position: absolute;
    color: #FFFFFF;
    margin-left: calc(-760px + (100vw - 1440px) * -0.45);
    margin-top: calc(0px + (100vh - 900px) * -0.25);
  }
}

main.main {
  padding: 0px 16px;
  margin-top: 120px;
}
@media (max-width: 1023px) and (min-width: 768px) {
  main.main {
    margin-top: calc(820px + (100vw - 768px) * 1);
    margin-left: 39px;
    margin-right: 40px;
    margin-bottom: 120px;
    display: grid;
    grid-template-areas: "main_info gallery_image gallery_image" "art_image art_image exposition" "art_image art_image greating";
    padding: 0;
    row-gap: 11px;
    -moz-column-gap: 11px;
         column-gap: 11px;
    grid-template-columns: 42.25% 13.95% 40%;
  }
  main.main img.gallery {
    grid-area: gallery_image;
    width: 100%;
    height: 100%;
    margin-bottom: 11px;
  }
  main.main div.main_info {
    grid-area: main_info;
    width: 100%;
    padding: 36px 68.3px 54px 0px;
  }
  main.main img.art {
    grid-area: art_image;
    width: 100%;
    height: 85.7%;
    margin-bottom: 0;
  }
  main.main img.exposition {
    grid-area: exposition;
    width: 100%;
    height: auto;
    margin: 0;
  }
  main.main picture {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
main.main img {
  width: 100%;
  height: auto;
}
main.main h2 {
  font-size: 44px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 9px 0px 21px 0px;
  padding: 0;
}
@media (max-width: 479px) and (min-width: 375px) {
  main.main h2 {
    font-size: 50px;
    line-height: 45px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  main.main h2 {
    max-width: 300px;
    font-size: clamp(50px, 5vw + 1vh, 80px);
    line-height: clamp(45px, 5vw + 1vh, 75px);
  }
}
main.main > .main_info > p {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  letter-spacing: 0px;
}
@media (max-width: 479px) and (min-width: 375px) {
  main.main > .main_info > p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  main.main > .main_info > p {
    font-size: clamp(17.9px, 2.33vw, 30px);
    line-height: clamp(28px, 3.65vw, 40px);
  }
}
main.main aside.greating {
  background-color: #151515;
  padding: 48px 24px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 120px;
}
main.main aside.greating h2 {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}
main.main aside.greating p {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
@media (max-width: 1023px) and (min-width: 768px) {
  main.main aside.greating {
    grid-area: greating;
    padding: clamp(48px, 48px + 47 * (100vh - 768px) / 256, 87px) clamp(29px, 69px + -40 * (100vh - 768px) / 256, 69px);
    margin-top: -5px;
  }
  main.main aside.greating h2 {
    font-size: 50px;
    line-height: 45px;
  }
  main.main aside.greating p {
    font-size: 18px;
    line-height: 28px;
  }
}

html * {
  font-family: "Outfit", sans-serif;
  background-color: #FFFFFF;
}

body {
  overflow-x: hidden;
}

.title {
  font-family: "Big Shoulders", sans-serif;
  font-size: 60px;
  line-height: 55px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 16px;
  color: #151515;
  background: transparent;
}
@media (max-width: 1023px) and (min-width: 768px) {
  .title {
    font-size: 70px;
    line-height: 65px;
    padding: 0;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .title {
    font-size: 96px;
    line-height: 88px;
    padding: 0;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  .title {
    font-size: clamp(96px, 5vw + 2vh, 150px);
    line-height: clamp(88px, 5vw + 2vh, 140px);
    padding: 0;
  }
}

.paragraph {
  font-size: 16px;
  line-height: 28px;
  color: #444444;
  padding: 0 16px;
  font-weight: 400;
  background: transparent;
}
@media (max-width: 479px) and (min-width: 375px) {
  .paragraph {
    font-size: 18px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .paragraph {
    font-size: 18px;
    padding: 0;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .paragraph {
    font-size: 22px;
    line-height: 32px;
    padding: 0;
  }
}
@media (max-width: 2560px) and (min-width: 1440px) {
  .paragraph {
    font-size: clamp(22px, 1vw + 1vh, 38px);
    line-height: clamp(32px, 1vw + 2vh, 46px);
    padding: 0;
  }
}/*# sourceMappingURL=app.css.map */