@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header.header {

    @include breakpoint(tablet) {
        display: flex;
        flex-direction: row;
    }

    @include breakpoint(desktop) {
        display: flex;
        flex-direction: row;
        height: 800px;

        &::before {
            content: '';
            position: relative;
            width: 31.25%;
            height: 100%;
            background: $primary_color;
            z-index: 1;
        }
    }

    @include breakpoint(largedesktop) {
        display: flex;
        flex-direction: row;
        height: 85vh;

        &::before {
            content: '';
            position: relative;
            width: 31.25%;
            height: 100%;
            background: $primary_color;
            z-index: 1;
        }
    }

    & > picture {
        width: 100%;
        img {
            width: 100%;
            height: auto;
            
            @include breakpoint(tablet) {
                position: absolute;
                width: 57%;
            }

            @include breakpoint(desktop) {
                height: 100%;
            }
            @include breakpoint(largedesktop) {
                height: 100%;
            }
        }

        @include breakpoint(desktop) {
            width: 37.5%;
        }
        @include breakpoint(largedesktop) {
            width: 37.5%;
        }
    }

    div.header_text {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 32px;
        z-index: 2;
        background: transparent;

        a {
            padding-left: 32px;
        }

        @include breakpoint(tablet) {
            width: 44%;
            height: auto;
            position: absolute;
            margin-left: calc(389px + (100vw - 768px) * 0.65);
            margin-top: calc(145px + (100vw - 768px) * 0.50);
            gap: 48px;
        }

        @include breakpoint(desktop) {
            width: 350px;
            height: auto;
            position: absolute;
            margin-left: calc(668px + (100vw - 1024px) * 0.62);
            margin-top: calc(200px + (100vw - 1024px) * 0.1);

            h1.title {
                position: absolute;
                color: $background-color;
                margin-left: calc(-550px + (100vw - 1024px)* -0.4);
                margin-top: calc(40px + (100vw - 1024px)* -0.19);
            }
        }

        @include breakpoint(largedesktop) {
            width: clamp(350px, 27vw + 2vh, 450px);
            height: auto;
            position: absolute;
            margin-left: calc(925px + (100vw - 1440px)* 0.65);
            margin-top: calc(190px + (100vw - 1440px)* 0.25);

            h1.title {
                position: absolute;
                color: $background-color;
                margin-left: calc(-760px + (100vw - 1440px)* -0.45);
                margin-top: calc(-45px + (100vw - 1440px)* -0.05);
            }
        }
    }
}

header.location_header{

    background-image: url('../img/Maps.png');
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    a {
        padding-right: 35px;
        margin-left: 0;

        img {
            transform: scaleX(-1);
        }
    }

    @include breakpoint(tablet){
        background-image: url('../img/Maps_tablet.png');
        height: 600px;

        a {
            margin-left: 39px;
        }
    }

    @include breakpoint(desktop){
        background-image: url('../img/Maps_desktop.png');
        height: 600px;

        a {
            margin-left: 111px;
        }
    }

    @include breakpoint(largedesktop){
        background-image: url('../img/Maps_desktop.png');
        height: 600px;

        a {
            margin-left: 156px;
        }
    }

}