@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

main.location_main {
    background-color: $primary-color;
    padding-top: 41px;
    padding-bottom: 47.79px;

    h1 {
        color: $background-color;
        font-size: 42.66px;
        line-height: 38.4px;
    }

    div.address{
        background-color: transparent;
        margin-top: 41px;
        padding: 0 16px;

        h2.street{
            background-color: transparent;
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 27.31px;
            line-height: 27.31px;
            margin-bottom: 17.1px;
        }

        
    }

    p {
        background-color: transparent;
        color: $background-color;
        font-weight: 400;
        font-size: 15.36px;
        line-height: 23.9px;

        &.paragraph {
            margin-top: 17.1px;
            padding: 0;
        }
    }

    @include breakpoint(mobile){
        padding-top: 48px;
        padding-bottom: 56px;

        h1 {
            font-size: 50px;
            line-height: 45px;
        }

        div.address{
            margin-top: 48px;

            h2.street{
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                line-height: 28px;
    
                &.paragraph {
                    margin-top: 20px;
                }
            }
        }

    }

    @include breakpoint(tablet){
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 88px clamp(40px, 5.208vw, 53.33px) 80px clamp(39px, 5.069vw, 52px);
        width: 100%;

        h1 {
            width: 223px;
            font-size: 55px;
            line-height: 50px;
        }

        div.address{
            margin: 0;
            padding: 0;
            width: 398px;

            h2.street {
                font-size: clamp(32px, 4.16vw, 36px);
                line-height: clamp(32px, 4.16vw, 36px);
            }

            p {
                font-size: clamp(18px, 2.34vw, 22px);
                line-height: clamp(28px, 3.64vw, 32px);
            }
        }
    }

    @include breakpoint(desktop){
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 104px clamp(117.33px, 11.45vw, 165px) 128px clamp(117.33px, 11.45vw, 165px);
        width: 100%;

        h1 {
            font-size: clamp(49.78px, 4.86vw, 70px);
            line-height: clamp(49.78px, 4.86vw, 70px);
            width: clamp(248.89px, 24.307vw, 350px);
        }

        div.address{
            margin: 0;
            padding: 0;
            width: clamp(384px, 37.501vw, 540px);

            h2.street {
                font-size: 36px;
                line-height: 36px;
            }

            p {
                font-size: 22px;
                line-height:32px;
            }
        }
    }

    @include breakpoint(largedesktop){
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: clamp(104px, 7.22vw, 184.89px) clamp(165px, 11.45vw, 293.33px) clamp(128px, 8.88vw, 227.56px) clamp(165px, 11.45vw, 293.33px);
        width: 100%;

        h1 {
            font-size: clamp(70px, 4.86vw, 124.44px);
            line-height: clamp(70px, 4.86vw, 124.44px);
            width: clamp(350px, 24.306vw, 622.22px);
        }

        div.address{
            margin: 0;
            padding: 0;
            width: clamp(540px, 37.501vw, 960px);

            h2.street {
                font-size: clamp(36px, 2.5vw, 64px);
                line-height: clamp(36px, 2.5vw, 64px);
            }

            p {
                font-size: clamp(22px, 1.52vw, 39.1px);
                line-height: clamp(32px, 2.22vw, 56.88px);
            }
        }
    }
}